*.dcu
database/__history/
core/__history/
exemplos/ExemploServerLmx/server/__history/
exemplos/ExemploServerLmx/server/http/__history/
exemplos/ExemploServerLmx/server/context/__history/
*.stat
*.bak
exemplos/ExemploServerLmx/server/Win32/
*.local
*.identcache
exemplos/ServerExemploSemOrm/__history/
exemplos/ServerExemploSemOrm/Win32/
*.skincfg
